body {
  background-image: url(/assets/5333978.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: #21802a;
  opacity: 0.6;
  width: 100%;
  position: relative;
  overflow: hidden;
  text-align: center;

}




h1,
h2 {
  text-align: center;
  padding-top: 30px;
  color: #21802a;
  text-transform: uppercase;
  font-size: 25px;

}

navbar {

  display: flex;
  justify-content: end;
  padding: 20px 20px;
  margin-top: 20px;

}

navbar ul {
  display: flex;
  list-style: none;
  margin: 0;

  padding: 0;

}

navbar ul li {
  margin-right: 20px;
  padding: 0px 30px 0px 0px;



}

navbar li {
  font-size: 16px;
  -webkit-transition: transform .3s;
  -moz-transition: transform .3s;
  -ms-transition: transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
}

navbar li:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

navbar a {
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;

}


main {
  position: relative;
  width: 100%;


}

form {
  background-image: url(/assets/texture.png);
  width: 431px;
  margin: auto;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.6;
}

label {
  display: block;
  margin-top: 20px;
  margin-left: 33px;
  font-weight: bolder;
  color: rgb(73, 69, 69);

}

input[type="text"],
input[type="date"],
input[type="number"] {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  border: 0.5px solid rgb(206, 200, 200);
  margin-left: 33px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

input[type="text"]:hover {
  border: 0.5px solid rgb(139, 137, 137);

}

input[type="date"]:hover {
  border: 0.5px solid rgb(139, 137, 137);

}

input[type="number"]:hover {
  border: 0.5px solid rgb(139, 137, 137);

}



input[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #2ebc3c;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-left: 33px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: #19d02e;
}

#studentTable {
  margin: auto;
  border-collapse: collapse;
  border-color: #797b7dcd;

}

#studentTable th,
#studentTable td {
  padding: 8px;
  text-align: left;

}

#studentTable th {
  text-align: center;
  background-color: #46a350b3;
  color: white;
  font-weight: initial;
}

#studentTable tr {
  background-color: #e9ebeb;
}

#studentTable tr:hover {
  background-color: #ddd5d597;
}

.btn {
  padding: 5px 12px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  box-shadow: 2px 2px 3px 0px #21802a;
}

.btn-primary {
  background-color: #2ebc3c;
}

.btn-primary:hover {
  background-color: #19d02e;
}
footer{
  margin: 60px;
  position: relative;
  background-color: #21802a;
  opacity:0.6 ;
}